.form__label {
  font-weight: 600;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
.form__input {
  padding: 12px;
  border: 1px solid #bbb;
  border-radius: 8px;
  margin-top: 8px;
  margin-bottom: 32px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.form__button {
  margin-top: 32px;
  max-width: 385px;
  border-radius: 4px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__button--submit {
  padding: 14px 20px;
  background: #2f80ed;
  border: none;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.form-label {
  margin-top: 20px;
}
