
.header {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  background-color: #ffffff;
  background-image: url("/images/background_header.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 30px 80px 40px;
  box-sizing: border-box;
}

.header__title {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: 900;
  font-size: 62px;
  line-height: 76px;
  max-width: 635px;
  margin: 183px 0 0;
  letter-spacing: -1px;
}

.span-accent {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 62px;
  line-height: 76px;
  color: #2f80ed;
}

.header__description {
  font-size: 20px;
  line-height: 30px;
  max-width: 515px;
  margin: 32px 0 0;
}

.header__image {
  max-width: 646px;
  max-height: 560px;
  position: absolute;
  bottom: 0;
  right: 0; /
}

.header__footer {
  margin-top: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  color: #6f6f6f;
}

.footer__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  column-gap: 20px;
}

.footer__list-item {
  margin: 0;
  padding: 0;
}

.header__paragraph {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
}

.header__paragraph_positio {
  position: absolute;
  right: 20px;
}

.header__address {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}