
.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  width: 105px;
  height: 39px;
  position: relative; /* Requerido para desplazarlo hacia la izquierda [cite: 63, 64] */
  left: -20px; /* Desplazamiento adicional para que el logo esté más a la izquierda */
}

.nav__links {
  display: flex;
  column-gap: 20px;
  list-style-type: none;
  padding: 0;
  margin: 8px 0 0;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}