.reservation {
  padding: 20px;
  max-height: 90%;
  text-align: center;
  background-color: #d9e7ff;
  background-image: url("/images/background_reservation.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  justify-content: center;
}

.reservation__title {
  font-family: "Inter", Arial, sans-serif; /* Asumiendo la fuente principal */
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: 0 auto 80px;
  padding-top: 100px;
}

.reservation__form {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: left;
  max-width: 385px;
}
